- handler = YAML.load(job.handler)
- object = handler.instance_variable_get(:@object)
- args = handler.instance_variable_get(:@args)
- method_name = handler.instance_variable_get(:@method_name)

%tr.delayed_job
  %td= job.id
  %td= object.class if object
  %td= object.id if object
  %td= method_name if method_name
  %td= job.priority
  %td= job.attempts
  %td
    - if job.run_at
      = job.run_at.strftime("%D %T %Z")
  %td
    - if job.last_error
      = h job.last_error
  %td
    - if job.locked_at
      = h job.locked_at
  %td
    - if job.locked_by
      = h job.locked_by
  %td
    - if job.failed_at
      = h job.failed_at
  %td
    = form_tag delayed_job_ui.invoke_path, :method => :post, :class => 'inline-block' do
      = hidden_field_tag :id, job.id
      = hidden_field_tag :return_url, request.original_url
      = submit_tag 'Run Job', :class => 'delayed_job_ui_button'

    = form_tag delayed_job_ui.destroy_path, :method => :delete, :class => 'inline-block' do
      = hidden_field_tag :id, job.id
      = hidden_field_tag :return_url, request.original_url
      = submit_tag 'Delete Job', :class => 'delayed_job_ui_button delete'