= stylesheet_link_tag "delayed_job_ui"
= javascript_include_tag 'delayed_job_ui'

#delayed-job-ui
  %ul.tabs.cf
    %li.tab-title.active
      = link_to 'Overview', '#overview'
    %li.tab-title
      = link_to 'Enqueued', '#enqueued'
    %li.tab-title
      = link_to 'Working', '#working'
    %li.tab-title
      = link_to 'Pending', '#pending'
    %li.tab-title
      = link_to 'Failed', '#failed'
  .panel
    .content
      #overview.tab-content
        %h2 Overview
        = render 'delayed_job_ui/job_table', :type => :all
      #enqueued.tab-content
        %h2 Enqueued
        = render 'delayed_job_ui/job_table', :type => :enqueued
      #working.tab-content
        %h2 Working
        = render 'delayed_job_ui/job_table', :type => :working
      #pending.tab-content
        %h2 Pending
        = render 'delayed_job_ui/job_table', :type => :pending
      #failed.tab-content
        %h2 Failed
        = render 'delayed_job_ui/job_table', :type => :failed