= stylesheet_link_tag "delayed_job_ui"
= javascript_include_tag "//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"
:javascript
  $(document).ready(function(){
    $('#job_table').DataTable();
  });
#delayed-job-ui
  %ul.tabs.cf
    %li.tab-title.active
      = link_to 'Overview', '#overview'
    %li.tab-title
      = link_to 'Enqueued', '#enqueued'
    %li.tab-title
      = link_to 'Working', '#working'
    %li.tab-title
      = link_to 'Pending', '#pending'
    %li.tab-title
      = link_to 'Failed', '#failed'
  .panel
    .content
      #overview
        %h2 Overview
        %table#job_table
          %thead
            %th Job ID
            %th Object Class
            %th Object ID
            %th Method
            %th Priority
            %th Attempts
            %th Run At
            %th Last Error
            %th Locked At
            %th Locked By
            %th Failed At
            %th Actions
          %tbody
            - Delayed::Job.all.each do |job|
              = render :partial => 'delayed_job_ui/job', :locals => {:job => job}
      #enqueued
        %h2 Enqueued
      #working
        %h2 Working
      #pending
        %h2 Pending
      #failed
        %h2 Failed